<div>
	<h2>Edit Customer Information - <%= @job.customer_name %></h2>
	<%= form_for [@contractor, @job] do |f| %>
		<%= f.label 'Customer Name' %>
		<%= f.text_field :customer_name %>
		<%= f.label 'Address' %>
		<%= f.text_field :customer_street_address%>
		<%= f.label 'City'%>
		<%= f.text_field :customer_city %>
		<%= f.label 'Zip Code' %>
		<%= f.text_field :customer_zipcode %>
		<%= f.label 'Phone Number' %>
		<%= f.text_field :customer_phone_number %>
		<%= f.label :email %>
		<%= f.text_field :customer_email %>
		<%= f.label 'Job Status' %>
		<%= f.select :status, options_for_select(%w[select... Lead Estimate Complete]) %>
		<%= f.submit 'Update' %>
	<% end %>
</div>