<h2>Job Breakdown</h2>

<table>
	<tr>
		<th>Customer Name</th>
		<th>Job Status</th>
		<th>Material Expenses</th>
		<th>Material Margin</th>
		<th>Labor Expenses</th>
		<th>Labor Margin</th>
		<th>Total Expenses</th>
		<th>Profit Margin</th>		
	</tr>
	<% @jobs.each do |job| %>
		<tr>
			<td><%= job.customer_name %></td>
			<td><%= job.status %></td>
			<td>$<%= job.job_expenses.inject(:+) %></td>
			<td><%= %></td>
			<td>$<%=%></td>
			<td><%=%></td>
			<td>$<%=%></td>
			<td><%=%></td>
		</tr>
	<% end %>
</table>