<h2>Add an Expense</h2>
<%= form_for ([@contractor, @job, @expense]) do |f| %>
	<%= f.label :store %>
	<%= f.text_field :store %>
	<%= f.label "What you bought" %>
	<%= f.text_field :expense_type %>
	<%= f.label :amount, "Cost" %>
	<%= f.text_field :amount %>
	<%= f.submit "Add Expense" %>
<% end %>