<h3>Add an Expense</h3>
<%= form_for [@contractor, @job, @expense] do |f| %>
	<%= f.label :store %>
	<%= f.text_field :store %>
	<%= f.label "What did you buy?"%>
	<%= f.text_field :expense_type %>
	<%= f.label :amount %>
	<%= f.text_field :amount %>
	<%= f.submit "Add Expense" %>
<% end %>