<!DOCTYPE html>
<html>
<head>
  <title>ContractorApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if flash[:notice] %>	
		<p><%=flash[:notice]%></p>
	<% end %>
	<% if session[:contractor_id] %>
	  <nav>
		<ul>
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "Profile", contractor_url(current_contractor)  %></li>
			<li><%= link_to "Employees" %></li>
			<li><%= link_to "Expenses", contractor_expenses_url(current_contractor) %></li>
			<li><%= link_to "New Job", new_contractor_job_url(current_contractor) %></li>
			<%= link_to "Logout", logout_url, method: :post %>
		</ul>
	  </nav>	
	<% else %>
		<%= link_to "Sign In", new_session_url %>
		<%= link_to "Register", new_contractor_url %>
	<% end %>	

	<div class='container'>
		<%= yield %>
	</div>

	<footer>
		<p>Developed by Bryan Hancock</p>
	</footer>
</body>
</html>
